<%- include("partials/header.ejs") %> 
		<title>Practice</title>
	</head>
	<body>
		<div id="home-container">
			<div id="side-title">
				<h1>Welcome</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam dolor vitae voluptatem quo laudantium! Lorem ipsum dolor sit amet.</p>
				<a href="/register" class="button">Sign up now</a>
				<p>Already have an account?</p>
				<a href="/login" class="button">Login</a>
			</div>
			<div id="img-container">
				<img src="/client/images/HotelVectorArt.svg" id="hotel-svg" alt="" srcset="">
			</div>
		</div>
	</body>
</html>
