<%- include("partials/header.ejs") %> 
	</head>
	<body>
		<div id="input-container">
			<div id="pic-container"></div>
			<div id="login-modal">
				<div id="logo">
					<img src="/client/images/Plane.jpg" alt="" srcset="">
				</div>				
				<% if (error != '') { %>			 
					<div id="flash-error"><%=error%></div>
				<% } %> 
				<form action="/login" method="post">
					<label for="username">Enter your Username</label>
					<input
						type="text"
						name="username"
						id="username"
						placeholder="Username"
					/>
					<label for="password">Enter your Password</label>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Password"
					/>
					<button type="submit">Login</button>
				</form>
				<a href="/register">Click here to Register</a>
			</div>
		</div>
	</body>
</html>
